.weather-forecast {
  max-width: 830px;
}
.card-img-top {
  width: 50%;
  margin: 0 auto;
}

.card-body {
  text-align: center;
}

.card {
  border-radius: 5px;
  border-color: #17a2b8;
  border-radius: 5px;
  box-shadow: rgba(20, 101, 90, 0.8) 0px 2px 2px 0;
  background: transparent;
}

.forecast-date,
.forecast-temp {
  text-align: center;
}

.forecast-temp-min {
  opacity: 50%;
  text-align: center;
}
