.col-2 {
  padding-right: 0px;
  padding-left: 16px;
}

.col-4 {
  padding-left: 11px;
}

.row .cityData {
  margin: 20px 50px 30px -90px;
}
.forecast-date,
.forecast-temp {
  text-align: center;
}

.forecast-temp-min {
  opacity: 50%;
  text-align: center;
}

.weather-forecast,
.row {
  max-width: 830px;
}

.cityData .active {
  cursor: default;
  text-decoration: none;
}
.cityData .units {
  color: #17a2b8;
}

.cityData .active:hover {
  text-decoration: none;
}
.units {
  margin: -2px 22px -29px -3px;
  font-weight: bold;
}

form {
  max-width: 600px;
}
ul {
  display: block;
  text-align: left;
}

.form-control {
  transition: all 0.5s ease;
  background: #66bfbf;
}
.form-controle:hover {
  background: #f76b8a;
}

.row {
  max-width: 678px;
  margin-right: -67px;
  margin-left: 18px;
  margin-bottom: 10px;
}
.col-2 {
  padding-right: 0px;
  padding-left: 16px;
}

.col-4 {
  padding-left: 11px;
}
.col-6 {
  padding-left: 11px;
}
.form-control {
  transition: all 0.5s ease;
  background: #66bfbf;
}
.form-control:hover {
  background: #f76b8a;
}
