h3 {
  text-align: center;
  color: #272044;
  font-weight: 600;
}

h4 {
  text-align: center;
  text-decoration: bold;
  color: #7393cf;
  font-size: 1.5rem;
}
.dataContainer .myCity {
  text-align: center;
  margin: -50px auto;
  border-radius: 5px;
  border-color: #17a2b8;
  color: #17a2b8;
  box-shadow: rgba(20, 101, 90, 0.8) 0px 2px 2px 0;
  background: transparent;
}

.myCity {
  color: #17a2b8;
  font-size: 34px;
  line-height: 1;
  font-weight: 600;
}

.myCity h2 {
  text-transform: uppercase;
  color: #7393cf;
  font-size: 34px;
  line-height: 1;
  font-weight: 600;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 46px;
  line-height: 1;
  font-weight: 400;
}

.temperature-night {
  color: rgb(33, 33, 33);
  font-size: 46px;
  line-height: 1;
  font-weight: 400;
  opacity: 50%;
}

.cityData {
  text-align: center;
  margin: 105px 5px -70px 10px;
}

.cityData .row {
  margin-bottom: 10px;
}

.celsius-link.active,
.fahrenheit-link.active {
  pointer-events: none;
}

.fahrenheit-link:hover {
  color: #17a2b8;
}
.celsius-link:hover {
  color: #17a2b8;
}
.cityData .active {
  cursor: default;
  text-decoration: none;
}

.cityData .active:hover {
  text-decoration: none;
}
.unit {
  font-weight: bold;
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  color: #5279c1;
}
.dataContainer {
  margin: 10px -20px 15px 20px;
  /* padding: 5px 15px; */
}
