.dataContainer .myCity {
  text-align: center;
  width: fit-content;
  margin: 15px auto;
  padding: 10px 25px;
  border-radius: 5px;
  border-color: #17a2b8;
  color: #17a2b8;
  box-shadow: rgba(20, 101, 90, 0.8) 0px 2px 2px 0;
  background: transparent;
}

.myCity {
  color: #17a2b8;
  font-size: 34px;
  line-height: 1;
  font-weight: 600;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
}

.temperature-night {
  color: rgb(33, 33, 33);
  font-size: 46px;
  line-height: 1;
  font-weight: 400;
  opacity: 50%;
}

.cityData {
  text-align: center;
  margin: 10px 5px 5px 10px;
}

.cityData .row {
  margin-bottom: 10px;
}

.celsius-link.active,
.fahrenheit-link.active {
  pointer-events: none;
}

.celsius-link,
.fahrenheit-link {
  position: relative;
  font-size: 16px;
  top: -26px;
  margin: 1px -6px 3px 0px;
}
.fahrenheit-link:hover {
  color: #17a2b8;
}
.celsius-link:hover {
  color: #17a2b8;
}
.cityData .active {
  cursor: default;
  text-decoration: none;
}

.cityData .active:hover {
  text-decoration: none;
}
.unit {
  font-weight: bold;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
